{% extends "userauth/base.html" %}
{% load static %}
      
{% block body_block %}
            <form class="login-form" action="/contact/create/" method="post">
            {% csrf_token %}
                <div class="form-title">
                    <h3 >Contact Detail</h3>

                    
                </div>
               <!--  <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div> -->
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">User name</label>
                    {{ form.name }}
                    <span class="help-block">
                          {{ form.name.errors.as_text }}
                      </span> </div>
                  <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    {{ form.email_id }}
                    <span class="help-block">
                          {{ form.email_id.errors.as_text }}
                      </span> </div>

                      <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Address</label>
                    {{ form.address }}
                    <span class="help-block">
                          {{ form.address.errors.as_text }}
                      </span> </div>

                     <div class="form-group">
                      <label class="control-label visible-ie8 visible-ie9">Phone Number</label>
                    {{ form.phone_number }}
                    <span class="help-block">
                          {{ form.phone_number.errors.as_text }}
                      </span> </div>
                <div class="form-group">
                   
                <div class="form-actions">
                   
                
                <div class="form-actions">
                    <button type="submit" class="btn green btn-mduppercase">Save</button>
                
         <a href='/'><button type="button" class="btn red btn-mduppercase">Cancel
        </button></a>
              
               </div>
               
            </form>
          
{% endblock %}