<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
        <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'login-2.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body>

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Contacts</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



      <ul class="nav navbar-nav navbar-right">
      <li><a href="/contact/create/">Create <span class="glyphicon glyphicon-plus"></span> </a></li>
      </ul>
    </div>
  </div>
</nav>


      <div class="container">
        <ul class="nav navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'userauth:index' %}">Home</a></li>
          <!-- <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li> -->
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'userauth:logout' %}">Logout</a></li>
          {% else %}
          <li><a class="navbar-link" href="{% url 'userauth:register' %}">Register</a></li>     

          <li><a class="navbar-link" href="{% url 'userauth:user_login' %}">Login</a></li>
          {% endif %}
</ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>